.t1{
  color:green;
}
#fm{
  color: pink;
  background-color: green;
}
.frame {
  width: 800px;
  margin: 0 auto;
  border: 1px solid #aaa;
}
.container {
  overflow: hidden;
}
.nav {
  float: left;
  width: 150px;
  background: #333;
  color: #fff;
  margin-right: 50px;
}
.nav-link {
  display: block;
  text-decoration: none;
  padding: 4px 10px;
  color: #fff;
}
.content {
  float: left;
  width: 600px;
}
